.footer {
    @include section(40px, $padding-side-page-desktop, 50px);
    background: $color-bg-black;

    display: grid;
    grid-template-columns: 298px 8.7% 242px 13% 140px 230px;
    grid-template-rows: 85px 36px 54px 44px 134px;

    @media screen and ($width: $desktop) {
        @include section(40px, $padding-side-page-desktop, 50px);
    }

    @media screen and ($width: $small-desktop) {
        @include section(40px, $padding-side-page-small-desktop, 50px);
        grid-template-columns: 298px 1fr 242px 1fr 170px 230px;
    }

    @media screen and ($width: $tablet) {
        @include section(12px, $padding-side-page-tablet, 12px);
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: 52px 34px 54px 67px 1fr;
    }

    @media screen and ($width: $mobile) {
        @include section(20px, $padding-side-page-mobile, 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        @include logo;
        @include logo-text;
        @include grid-position(1, 1, 2, 2);

        @media screen and ($width: $mobile) {
            width: 128px;
            height: 23px;
            order: 1;
            border: none;
            margin-bottom: 30px;

            &::after {
                left: 73px;
                bottom: 5px;
            }
        }
    }

    .subscribe {
        @include grid-position(1, 5, 2, 7);
        display: grid;
        grid-template-columns: 228px 129px;
        gap: 14px 10px;

        @media screen and ($width: $tablet) {
            display: none;
        }


        .subscribe__title {
            @include grid-position(1, 1, 2, 3);
            margin: $margin-null;
            font-family: $font-main;
            font-weight: $font-size-regular;
            font-size: $font-size-subtitle;
            line-height: $line-height-small;
            color: $color-white;
        }

        .subscribe__input {
            @include grid-position(2, 1, 3, 2);
            width: 228px;
            height: 42px;
            box-sizing: $box-type;
            padding: 10px 7px 10px 10px;
            border: 1px solid $color-orange;
            border-radius: $border-radius-small;
            background: none;
            font-family: $font-main;
            font-weight: $font-size-regular;
            font-size: $font-size-regular;
            line-height: $line-height-large;
            color: $color-light-gray;

            &:invalid {
                color: $color-red;
                border: 1px solid $color-red;
                outline: 1px solid $color-red;
            }

            &:focus:valid {
                outline: 1px solid $color-green;
                border: 1px solid $color-green;
                color: $color-green;
            }
        }

        .subscribe__button {
            @include grid-position(2, 2, 3, 3);
            width: 129px;
            height: 42px;
            box-sizing: $box-type;
            padding: 10px 0;
            background: $color-light-gray;
            border: 1px solid $color-black;
            border-radius: $border-radius-regular;
            color: $color-black-blue;
            cursor: pointer;

            &:active {
                border: 1px solid $color-green;
                color: $color-green;
            }
        }

        &:invalid {
            .subscribe__button {
                color: $color-red;
                border: 1px solid $color-red;
            }
        }
    }

    .footer__button {
        @include grid-position(3, 1, 4, 2);
        @include button-rect($border-radius-small);
        padding: 16px 0;
        box-sizing: $box-type;
        text-decoration: none;

        @media screen and ($width: $mobile) {
            order: 3;
            margin-bottom: 30px;
        }
    }

    .footer__socials {
        @include grid-position(5, 1, 6, 2);
        @include list-base(flex, 9px);
        flex-direction: column;
        align-self: end;

        @media screen and ($width: $tablet) {
            @include grid-position(1, 3, 5, 4);
            justify-self: end;
            align-self: start;
            gap: 20px;
            width: 26px;
        }

        @media screen and ($width: $mobile) {
            flex-direction: row;
            order: 2;
            margin: 0 18% 30px;
            gap: 30px;
        }

        .footer__socials-link {
            @include link-base($color-white, $color-green);
            display: grid;
            grid-template-columns: 26px max-content;
            gap: 12px;
            align-items: center;
            position: relative;
            height: 26px;

            @media screen and ($width: $tablet) {
                display: block;
            }

            .footer__socials-icon {
                margin-left: 13px;
                transform: translate(-50%);
                z-index: 1;

                @media screen and ($width: $tablet) {
                    transform: translate(-50%, 40%);
                }
            }

            .footer__socials-text {
                font-family: $font-main;
                font-weight: $font-weight-medium;
                font-size: $font-size-regular;
                line-height: $line-height-large;

                @media screen and ($width: $tablet) {
                    display: none;
                }
            }

            &::before {
                @include content;
                width: 26px;
                height: 26px;
                bottom: 0;
                left: 0;
                background: $color-gray;
                background-size: 26px 26px;
                border-radius: $border-radius-half;
                z-index: 0;
            }

            &:hover {
                .footer__socials-icon {
                    opacity: $opacity-half;
                    transition: $transition-std;
                }
            }

            &:active {
                &::before {
                    background: $color-green;
                }
            }
        }
    }

    .nav {
        @include grid-position(5, 3, 6, 6);
        @include navigation;
        display: flex;
        align-items: flex-end;

        @media screen and ($width: $tablet) {
            @include grid-position(5, 1, 6, 2);
        }

        @media screen and ($width: $mobile) {
            order: 5;
        }

        .list {
            @media screen and ($width: $tablet) {
                gap: 37px;
            }

            @media screen and ($width: $mobile) {
                gap: 30px;
            }
        }
    }

    .copyright {
        @include link-base($color-white, $color-green);
        @include grid-position(5, 6, 6, 7);
        @include flex-column(10px);
        justify-content: flex-end;
        align-items: flex-start;
        font-family: $font-main;
        font-weight: $font-weight-thin;
        font-size: $font-size-regular;
        line-height: $line-height-medium;

        @media screen and ($width: $tablet) {
            @include grid-position(5, 3, 6, 4);
        }

        @media screen and ($width: $mobile) {
            order: 4;
            margin: 0 0 30px auto;
            font-size: 15px;
        }

        &:active {
            .copyright-span {
                position: relative;

                &::after {
                    @include content;
                    bottom: -2px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: $color-green;
                }
            }
        }
    }
}