.pick-and-feed {
    @include section(70px, $padding-side-page-desktop, 100px);
    background: $grad-orange;
    opacity: 0.9;
    overflow: hidden;

    @media screen and ($width: $small-desktop) {
        @include section(30px, $padding-side-page-small-desktop, 50px);
    }

    @media screen and ($width: $tablet) {
        @include section(20px, 0, 20px);
    }

    @media screen and ($width: $mobile) {
        @include section(20px, $padding-side-page-mobile, 20px);
    }

    .pick-and-feed__container {
        @include flex-column;
        width: 100%;
        padding: 40px 0 60px 0;
        box-sizing: $box-type;
        @include flex-column;
        border-radius: $border-radius-small-medium;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);

        @media screen and ($width: $small-desktop) {
            padding: 30px 48px 50px;
        }

        @media screen and ($width: $tablet) {
            padding: 10px 20px 60px;
        }

        @media screen and ($width: $mobile) {
            padding: 20px 0 40px;
        }

        .section__title {
            margin: 0 auto 31px;
            color: $color-orange-donate;
            font-family: $font-main;
            font-weight: $font-weight-regular;
            font-size: $font-size-h2;
            line-height: $line-height-small;

            @media screen and ($width: $small-desktop) {
                margin-bottom: 20px;
            }

            @media screen and ($width: $tablet) {
                font-size: 42px;
            }

            @media screen and ($width: $mobile) {
                font-size: 24px;
                margin-bottom: 10px;
            }

        }

        .section__subtitle {
            margin: 0 4% 40px 8.3%;
            color: $color-black-blue;
            font-family: $font-main;
            font-weight: $font-weight-regular;
            font-size: $font-size-subtitle;
            line-height: $line-height-small;

            @media screen and ($width: $small-desktop) {
                margin: 0 0 20px;
            }

            @media screen and ($width: $tablet) {
                font-size: 22px;
            }

            @media screen and ($width: $mobile) {
                font-size: 18px;
                text-align: center;
            }
        }

        .pick-and-feed__text {
            color: $color-black-blue;
            font-family: $font-main;
            font-size: $font-size-regular;
            line-height: $line-height-medium;

            @media screen and ($width: $mobile) {
                display: none;
            }
        }

        .pick-and-feed__text_bold {
            margin: 0 4% 10px 8.3%;
            @extend .pick-and-feed__text;
            font-weight: $font-weight-medium;

            @media screen and ($width: $small-desktop) {
                margin: 0 0 10px;
            }
        }

        .pick-and-feed__text_normal {
            margin: 0 17% 60px 8.3%;
            @extend .pick-and-feed__text;
            font-weight: $font-weight-regular;

            @media screen and ($width: $small-desktop) {
                margin: 0 0 40px;
            }

            @media screen and ($width: $tablet) {
                margin-bottom: 30px;
            }

            .nav__link {
                @include link-base($color-black-blue);
                position: relative;
                text-decoration: none;
                color: $color-black-blue;

                &::after {
                    @include content;
                    width: 100%;
                    height: 1px;
                    bottom: -4px;
                    left: 0;
                    background: $color-orange-donate;

                    @media screen and ($width: $tablet) {
                        bottom: -1px;
                    }
                }
            }
        }

        .pick-and-feed__instruction {
            @include flex-column;

            .pick-and-feed__work {
                margin: 0 auto 40px;
                color: $color-orange-donate;
                color: $color-black-blue;
                font-family: $font-main;
                font-weight: $font-weight-regular;
                font-size: $font-size-h3;
                line-height: $line-height-medium;

                @media screen and ($width: $tablet) {
                    margin-bottom: 20px;
                }

                @media screen and ($width: $mobile) {
                    font-size: 24px;
                }
            }

            $width-step: 168px;
            $width-grid-pick-and-feed: 764px;

            @function gap-width($width-grid, $width-col, $n) {
                @return ($width-grid - ($n * $width-col)) / ($n - 1);
            }

            $gap-width: gap-width($width-grid-pick-and-feed, $width-step, 3);

            .pick-and-feed__list {
                @include list-base (flex, $gap-width);
                margin: 0 auto 63px;
                ;
                width: $width-grid-pick-and-feed;

                @media screen and ($width: $small-desktop) {
                    margin-bottom: 73px;
                }

                @media screen and ($width: $tablet) {
                    gap: 42px;
                    margin-bottom: 41px;
                }

                @media screen and ($width: $mobile) {
                    width: 100%;
                    margin-bottom: 24px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 43px;
                }
            }

            .pick-and-feed__step {
                width: $width-step;
                @include flex-column;
                position: relative;

                .pick-and-feed__image {
                    position: relative;
                    object-fit: contain;
                    object-position: center;
                    margin-bottom: 30px;

                    @media screen and ($width: $mobile) {
                        margin-bottom: 10px;
                    }
                }

                .pick-and-feed__desc {
                    margin: $margin-null;
                    color: $color-black-blue;
                    font-family: $font-main;
                    font-weight: $font-weight-regular;
                    font-size: $font-size-regular;
                    line-height: $line-height-large;
                }

                &:not(:first-of-type):after {
                    @include content;
                    width: 70px;
                    height: 35px;
                    top: 60px;
                    left: -100px;
                    @include bg-image ($bg-icon-steps, $bg-size-icon-steps);

                    @media screen and ($width: $tablet) {
                        width: 90px;
                        height: 40px;
                        top: -22px;
                        left: -75px;
                        @include bg-image ($bg-icon-steps-t, $bg-size-icon-steps-t);
                    }

                    @media screen and ($width: $mobile) {
                        top: -58px;
                        left: 139px;
                        transform: rotate(85deg);
                    }
                }

                &:last-of-type {
                    @media screen and ($width: $mobile) {
                        top: -15px;
                    }
                }
            }

            .pick-and-feed__button {
                margin: 0 auto;
                @include button-rect;
                box-sizing: $box-type;
                padding: 15px;
                text-decoration: none;
            }
        }

    }
}