.watch-online {
    box-sizing: $box-type;
    @include section(86px, $padding-side-page-desktop, 102px);
    @include bg-image($bg-watch-online, $bg-size-watch, $bg-position-watch);
    @include flex-column (62px);
    align-items: flex-end;

    @media screen and ($width: $small-desktop) {
        @include section(44px, $padding-side-page-small-desktop, 47px);
        @include bg-image($bg-watch-online-sd, $bg-size-watch-sd, $bg-position-watch);
        gap: 40px;
    }

    @media screen and ($width: $tablet) {
        @include section(84px, $padding-side-page-tablet, 40px);
        @include bg-image($bg-watch-online-sd, $bg-size-watch-t, $bg-position-watch-t);
        background-size: 100% 373px;
        background-position: 0 0;
        display: flex;
        flex-direction: row-reverse;
        gap: 46px;
    }

    @media screen and ($width: $mobile) {
        @include section(75px, $padding-side-page-tablet, 0px);
        background-size: 100% 187px;
        background-position: 0 33px;
        display: flex;
        flex-direction: column;
        gap: 61px;
        position: relative;
        z-index: 0;
    }

    .section__title {
        width: 500px;
        margin: $margin-null;
        position: relative;
        z-index: 1;
        font-family: $font-main;
        font-weight: $font-weight-bold;
        font-size: $font-size-h1;
        line-height: $line-height-extra-small;

        text-align: center;
        text-transform: uppercase;

        color: $color-white;

        @media screen and ($width: $small-desktop) {
            width: 400px;
            font-size: $font-size-h1-sd;
            margin-right: 6%;
        }

        @media screen and ($width: $tablet) {
            width: 256px;
            font-size: $font-size-h1-t;
            margin-right: 0;
            margin-bottom: 46px;
        }

        @media screen and ($width: $mobile) {
            width: 128px;
            font-size: 28px;
            margin: 0;
        }

        .section__title-span {
            color: $color-yellow;
        }

        &::before {
            @include content;
            width: 465px;
            height: 465px;
            bottom: 7px;
            right: 109px;
            background: $grad-watch;
            border-radius: $border-radius-half;
            z-index: -1;

            @media screen and ($width: $small-desktop) {
                width: 367px;
                height: 367px;
                right: 90px;
            }

            @media screen and ($width: $tablet) {
                width: 237px;
                height: 237px;
                right: 52px;
                bottom: 6px;
            }
            @media screen and ($width: $mobile) {
                width: 119px;
                height: 119px;
                right: 28px;
                bottom: 5px;
            }
        }
    }

    .watch-online__button {
        @include button-rect;
        margin: $margin-null;
        margin-right: $margin-watch-btn;

        @media screen and ($width: $small-desktop) {
            margin-right: 11.5%;
        }

        @media screen and ($width: $tablet) {
            margin-right: 0;
            align-self: flex-end;
            justify-self: flex-start;
        }
    }
}